[global]
fsid = 2db65bac-9084-4872-98e3-494036408403
mon_initial_members = ceph-node-1
mon_host = 192.168.100.105
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx
public network = 192.168.100.0/24
rbd_default_features = 1
